{{form_start(form)}}

    <div class="row mt-5">
        <div class="col-md-6">
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.category) }}
            {{ form_row(form.imageFile) }}
        </div>
        <div class="col-12">
                {{ form_row(form.description) }}
            </div>
    </div>
<button class="btn btn-success"><i class="far fa-save"></i> Enregistrer</button>

{{form_end(form)}}