{% extends "base.html.twig" %}

{% block title %}
    Admin - {{parent()}}
{% endblock %}

{% block body %}
    <div class="container">

        {% include "admin/_nav.html.twig" %}

        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}

        <a href="{{ path('admin.product.new') }}" class="btn btn-success"><i class="far fa-plus-square"></i> Créer un produit</a>
        <a href="{{ path('admin.product.delete') }}" class="btn btn-danger disabled" id="deleteAllButton"><i class="fas fa-trash-alt"></i> Supprimer</a>
        
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th><i class="checkAllSquare far fa-square"></i></th>
                    <th>Catégorie</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th><i class="fas fa-edit text-muted"></i></th>
                    <th><i class="fas fa-trash-alt text-muted"></i></th>
                    
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr id="{{ product.id }}">
                    <th><i class="checkSquare far fa-square"></i></th>
                    <td>{{ product.category.name }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description|slice(0, 25) }}...</td>
                    <td>{{ product.price|number_format(2, '€', ',') }}</td>
                    <td><a href="{{ path('admin.product.edit', {id: product.id}) }}"><i class="fas fa-edit text-success"></i></a></td>
                    <td><a href="{{ path('admin.product.delete') }}" class="deleteButton"><i class="fas fa-trash-alt text-danger"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}