{% extends "base.html.twig" %}

{% block title %}
    Products - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
        <div id="collapseProducts">
            <nav>
                <ul>
                    {% for category in categories %}
                    <li class="badge badge-category">
                        <a href="#collapseCategory{{ category.id }}" data-toggle="collapse" >{{ category.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>

            <div class="row">
                <div class="col-lg-8">
                    
                    

                    {% for category in categories %}
                    <div id="collapseCategory{{ category.id }}" class="collapse {% if loop.index == 1 %}show{% endif %}" data-parent="#collapseProducts">    
                        <div class="row">

                            {% for product in category.products %}

                            <div class="col-10 col-sm-6 col-xl-4 mt-4">
                                <div class="card">
                                    {% if product.filename %}
                                    
                                    <img src="{{ vich_uploader_asset(product, 'imageFile') }}" class="card-img-top bg-warning" alt="{{ product.name }}">

                                    {% else %}
                                        
                                    <img src="image/image_not_found.png" class="card-img-top bg-warning" alt="default image">
                                    
                                    {% endif %}
                                    
                                    <div class="product-card-price">{{ product.price|number_format(2, '€', ',') }}</div>
                                    <div class="card-body">
                                        <h4 class="card-title">{{ product.name }}</h4>
                                        <p class="card-text">{{ product.description }}</p>
                                        <a href="{{ path('order.add', {id: product.id}) }}" class="btn btn-success addProductOrder"><i class="fas fa-shopping-basket"></i> Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                        </div>
                    </div>
                    {% endfor %}

                </div>
                <aside class="col-lg-4 mt-4 rounded order-side">

                    <div class="row">
                        <div class="col-12 order-side-title">
                            <h4>Votre commande</h4>
                        </div>

                        <div class="col-12 order-side-product" id="orderSideproduct">

                        {% for orderProduct in order.orderProducts %}
                            
                        <div class="card">
                            <div class="row no-gutters">
                                <div class="col-4">
                                <img src="{{ vich_uploader_asset(orderProduct.product, 'imageFile') }}" class="card-img">
                                </div>
                                <div class="card-body col-7">
                                    <h5 class="card-title">{{ orderProduct.product.name }}</h5>
                                    <p>
                                        X <input type="number" min="1" class="quantity-id" name="quantity{{ orderProduct.product.id }}" value="{{ orderProduct.quantity }}">
                                    </p>
                                 </div>
                                <div class="col-1">
                                    <a href="#" class="delete-id" id="delete{{ orderProduct.product.id }}"><i class="fas fa-trash-alt text-danger"></i></a>
                                </div>
                            </div>
                        </div>

                        {% endfor %}    

                        </div>
                        <div class="col-12 order-side-pay">
                            <p>Total : <span id="orderSidePrice">{{ order.totalPrice|number_format(2, '.', ',') }}</span> €</p>
                            <a href="{{ path('order.show') }}" class="btn btn-success"> <i class="fas fa-cash-register"></i> Commander</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>

{% endblock %}